[server]
address = "localhost:1145"

[[server.channels]]
name = "#channel-name"
admin = true
log_chat = true
topic = "topic here"
greetings = [
    { passthru = true, filter = "John.*", message = "Hi, John!" },
    { passthru = false, filter = ".*", message = "Welcome to the channel!" },
]

[user]
nick = "watcher"
user = "watcher52"
real = "Watch out for loose seal!"

[bot]
admin = ["admin", "nicks", "here"]
message_frequency = 180
watch_list = [
    "watched",
    "nicks",
    "here",
]

[twilio]
sid = "<sid here>"
token = "<token here>"
number = "<number here>"
recipients = [{auth = "<auth phrase here>", number = "<number here>"}]

[logging]
path = "/log/dir/here"
