[server]
address = "localhost:1145"
channel = "#channel-name"

[[server.greetings]]
passthru = true
filter = "John.*"
message = "Hi, John!"

[[server.greetings]]
passthru = false
filter = ".*"
message = "Welcome to the channel!"

[user]
nick = "watcher"
user = "watcher52"
real = "Watch out for loose seal!"

[bot]
admin = ["admin", "nicks", "here"]
message_frequency = 180
watch_list = [
    "watched",
    "nicks",
    "here",
]

[twilio]
sid = "<sid here>"
token = "<token here>"
number = "<number here>"
recipients = [{auth = "<auth phrase here>", number = "<number here>"}]

[logging]
path = "/log/dir/here"
